{% include "header.html" %}

<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            Philip is a self-taught software developer with a passion for crafting intuitive user experiences and 
            uncovering insights from data. Despite dropping out of school, Philip's determination and love for programming 
            have propelled him into the world of software development.          
        </p>
        <p>
            With expertise in PyQt5, Philip excels in building powerful graphical user interface (GUI) applications 
            that seamlessly blend functionality with aesthetics. Additionally, his proficiency in data analysis allows 
            him to extract valuable information and trends, enabling informed decision-making.
        </p>
        <p>
            Philip's journey exemplifies the boundless possibilities that dedication and self-learning can unlock in the realm of technology.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}